
.main .reg{ border:1px solid; color:#CCCCCC; }
.forgot input{background:url("images/myls05.png"/*tpa=http://www.17gude.com/platform/css/images/myls05.png*/) no-repeat;}

.forgot-email{ margin-left:30px; margin-top:30px;}
.login-tabcen{padding-top:25px;}

.tab-phone{display:none;}

.tab-phone input.smsbut{margin-left:0;}

table.lotab{width:100%;}

.lotab th{padding:16px 0 10px;font-size:14px;width:130px;font-weight:normal;text-align:right;color:#444;vertical-align:top;}

.lotab td{padding:10px 8px;vertical-align:middle;}

.lotab td p.myin-text{clear:both;color:#666;padding-top:3px;}


input.myinput{width:248px;height:32px;height:16px\9;padding:9px 0 7px 10px\9;line-height:16px\9;padding-left:10px;border:1px solid #cfcfcf;background-repeat:repeat-x;background-position:0 -47px;float:left;font-size:14px;}




.thzs{font-size:12px; color:#CCCCCC; margin-left:12px; padding-top:10px;}

