.csd_top {
	CLEAR: both; BACKGROUND: url(../images/1.gif) repeat-x 50% bottom; OVERFLOW: hidden; HEIGHT: 90px
}
.csd_top_lj {
	RIGHT: 0px; POSITION: absolute; TOP: 0px
}
.csd_top_lj A {
	COLOR: #666
}
.csd_topzo {
	MARGIN: 0px auto; WIDTH: 1000px; POSITION: relative
}
.csd_topzo_logo {
	MARGIN-TOP: 15px; DISPLAY: inline; FLOAT: left; WIDTH: 125px; HEIGHT: 62px
}
.csd_topzo_right {
	MARGIN-TOP: 10px; FLOAT: right; WIDTH: 350px; HEIGHT: 80px; TEXT-ALIGN: right
}
.csd_nav {
	CLEAR: both; BACKGROUND: url(../images/4.gif) repeat-x; OVERFLOW: hidden; HEIGHT: 41px
}
.csd_navul {
	DISPLAY: block; PADDING-TOP: 1px
}
.csd_navul LI {
	FLOAT: left
}
.csd_navul LI A {
	PADDING-RIGHT: 20px; DISPLAY: block; PADDING-LEFT: 20px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; WIDTH: 70px; COLOR: #fff5d9; LINE-HEIGHT: 40px; PADDING-TOP: 0px; HEIGHT: 41px; TEXT-ALIGN: center
}
.csd_navul LI A:hover {
	PADDING-RIGHT: 20px; DISPLAY: block; PADDING-LEFT: 20px; BACKGROUND: url(../images/4_1.gif); PADDING-BOTTOM: 0px; COLOR: #fff! important; LINE-HEIGHT: 40px; PADDING-TOP: 0px; HEIGHT: 41px; TEXT-DECORATION: none
}
.csd_image {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 988px
}
.csd_image02 {
	CLEAR: both; MARGIN: 10px auto 0px; WIDTH: 988px
}
.csd_left_body {
	MARGIN: 0px auto; WIDTH: 988px
}
.csd_left {
	FLOAT: left; WIDTH: 650px
}
.csd_lefth1 {
	CLEAR: both; BACKGROUND: url(../images/6.gif) repeat-x; WIDTH: 100%; HEIGHT: 40px
}
.csd_lefth1left {
	FLOAT: left; WIDTH: 170px
}
.csd_lefth1right {
	FLOAT: right; WIDTH: 24px
}
.csd_leftbody {
	DISPLAY: block; WIDTH: 100%; HEIGHT: 109px
}
.csd_leftbodyhei {
	BACKGROUND: #e1effa; HEIGHT: 650px
}
.csd_leftbodyzo {
	BACKGROUND: url(../images/13.gif) no-repeat 50% bottom; PADDING-BOTTOM: 10px; MARGIN: 10px auto; WIDTH: 620px
}
.csd_leftbodyimg {
	FLOAT: left; WIDTH: 148px
}
.csd_leftbodyright {
	PADDING-LEFT: 10px; FLOAT: left; WIDTH: 460px
}
.csd_leftbodyright H1 {
	FONT-SIZE: 12px; COLOR: #2e4167
}
.csd_leftbodyright P {
	COLOR: #416789; LINE-HEIGHT: 20px
}
.csd_leftbodyright P SPAN {
	PADDING-RIGHT: 5px; FLOAT: right
}
.csd_leftbodyright P SPAN A {
	COLOR: #d04500
}
.csd_right {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 328px
}
.csd_righth1 {
	CLEAR: both; FONT-SIZE: 12px; BACKGROUND: #a5a5a8; OVERFLOW: hidden; HEIGHT: 40px
}
.csd_righth1div01 {
	DISPLAY: inline; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: url(../images/10.gif) no-repeat; FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 95px; PADDING-TOP: 14px; HEIGHT: 26px; TEXT-ALIGN: center
}
.csd_righth1div01 A {
	COLOR: #b79d31
}
.csd_righth1div02 {
	PADDING-RIGHT: 10px; FLOAT: right; WIDTH: 1px
}
.csd_righth1div03 {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 15px; FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #bfa84c; PADDING-TOP: 13px
}
.csd_righth1div04 A {
	FONT-WEIGHT: normal; FLOAT: right; MARGIN: 13px 15px 0px 0px; COLOR: #d7c583
}
.csd_right_body {
	CLEAR: both; BORDER-RIGHT: #d5d5d5 1px solid; PADDING-RIGHT: 12px; BORDER-TOP: #d5d5d5 0px solid; DISPLAY: block; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; BORDER-LEFT: #d5d5d5 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #d5d5d5 1px solid
}
.csd_right_body02 {
	CLEAR: both; BORDER-RIGHT: #d5d5d5 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d5d5d5 0px solid; DISPLAY: block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #d5d5d5 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #d5d5d5 1px solid
}
.csd_right_body02_ {
	BACKGROUND: #eaeaea; HEIGHT: 320px
}
.csd_right_bodyp1 {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 7px; MARGIN: 0px auto; WIDTH: 250px; COLOR: #c32e2e; PADDING-TOP: 15px; TEXT-ALIGN: center
}
.csd_right_bodyp2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; COLOR: #808080; LINE-HEIGHT: 19px; PADDING-TOP: 0px
}
.csd_right_bodydiv1 {
	WIDTH: 350px; TEXT-ALIGN: center
}
.csd_right_bodydiv2 {
	CLEAR: both; BACKGROUND: #f6f6f6; MARGIN: 0px auto; WIDTH: 99%; LINE-HEIGHT: 20px
}
.csd_right_bodydiv2p1 {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold
}
.csd_right_bodydiv2p2 {
	PADDING-LEFT: 10px
}
.csd_right_bodydiv2p2 SPAN {
	COLOR: #c4ac93
}
.csd_right_body02ul {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.csd_right_body02ul LI {
	COLOR: #505050; LINE-HEIGHT: 25px
}
.csd_right_body02ul LI A {
	COLOR: #505050
}
.csd_daguan {
	CLEAR: both; DISPLAY: block; WIDTH: 100%
}
.csd_daguantj {
	CLEAR: both; DISPLAY: block; MARGIN: 0px auto; WIDTH: 984px
}
.csd_daguankuai {
	BORDER-RIGHT: #b3ccd3 1px solid; BORDER-TOP: #b3ccd3 1px solid; FLOAT: left; OVERFLOW: hidden; BORDER-LEFT: #b3ccd3 1px solid; WIDTH: 351px; BORDER-BOTTOM: #b3ccd3 1px solid; POSITION: relative; HEIGHT: 312px
}
.csd_daguankuai02 {
	BORDER-RIGHT: #d5d5d5 1px solid; BORDER-TOP: #d5d5d5 1px solid; BACKGROUND: url(../images/untitled.bmp) no-repeat right 100px; FLOAT: left; OVERFLOW: hidden; BORDER-LEFT: #d5d5d5 1px solid; WIDTH: 323px; BORDER-BOTTOM: #d5d5d5 1px solid; POSITION: relative; HEIGHT: 310px
}
.csd_daguankuaih1 {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 30px; FONT-WEIGHT: normal; FONT-SIZE: 14px; BACKGROUND: url(../images/24.gif) no-repeat; PADDING-BOTTOM: 0px; COLOR: #fefcf8; PADDING-TOP: 5px; HEIGHT: 27px
}
.csd_daguankuaih1 SPAN {
	PADDING-RIGHT: 20px; FONT-SIZE: 12px; FLOAT: right
}
.csd_daguankuaih1 SPAN A {
	COLOR: #ecd9a1
}
.csd_daguankuaiul {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; MARGIN: 0px auto; WIDTH: 95%; PADDING-TOP: 5px
}
.csd_daguankuaiul LI {
	COLOR: #5b5b5b
}
.csd_daguankuaiul LI A {
	COLOR: #5b5b5b
}
.csd_daguankuaiul02 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; MARGIN: 0px auto; WIDTH: 96%; PADDING-TOP: 5px
}
.csd_daguankuaiul02 LI SPAN {
	DISPLAY: block; FONT-WEIGHT: bold; WIDTH: 280px
}
.csd_daguankuaiul02 LI {
	PADDING-RIGHT: 11px; FLOAT: left; COLOR: #5b5b5b; WHITE-SPACE: nowrap
}
.csd_daguankuaiul02 LI A {
	COLOR: #5b5b5b
}
.csd_daguankuaip {
	MARGIN: 10px auto; WIDTH: 92%
}
.csd_daguankuaip SPAN {
	COLOR: #84692d
}
.csd_daguankuaip A {
	COLOR: #993300
}
.L_csd1_tb_ {
	CLEAR: both; FONT-SIZE: 12px; BACKGROUND: url(../images/111.gif) repeat-x; OVERFLOW: hidden; WIDTH: 351px; HEIGHT: 39px
}
.L_csd1_tb_ UL {
	WIDTH: 100%
}
.L_csd1_tb_ LI {
	DISPLAY: block; FLOAT: left; CURSOR: pointer; TEXT-ALIGN: center
}
.L_csd1_normaltab {
	DISPLAY: inline; FONT-SIZE: 12px; FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 114px; PADDING-TOP: 14px; HEIGHT: 26px; TEXT-ALIGN: center
}
.L_csd1_hovertab {
	DISPLAY: inline; FONT-SIZE: 12px; BACKGROUND: url(../images/66.gif) no-repeat; FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 114px; PADDING-TOP: 14px; HEIGHT: 26px; TEXT-ALIGN: center
}
.L_csd1_hovertab A {
	COLOR: #416a7c! important
}
.L_csd1_hovertab A:hover {
	COLOR: #416a7c! important
}
.L_csd1_dis {
	DISPLAY: block
}
.L_csd1_undis {
	DISPLAY: none
}
.L_csd2_tb_ {
	CLEAR: both; FONT-SIZE: 12px; BACKGROUND: url(../images/31.gif) no-repeat; OVERFLOW: hidden; HEIGHT: 31px
}
.L_csd2_tb_ UL {
	WIDTH: 100%
}
.L_csd2_tb_ LI {
	FLOAT: left; CURSOR: pointer; TEXT-ALIGN: center
}
.L_csd2_normaltab {
	DISPLAY: inline; FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: left; MARGIN-LEFT: 15px; WIDTH: 100px; PADDING-TOP: 8px; HEIGHT: 26px; TEXT-ALIGN: center
}
.L_csd2_hovertab {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(../images/homejiage.gif) no-repeat 0px 0px; FLOAT: left; MARGIN-LEFT: 15px; WIDTH: 100px; COLOR: #11659a; PADDING-TOP: 8px; HEIGHT: 31px; TEXT-ALIGN: center
}
.L_csd2_hovertab A {
	COLOR: #bfa84c! important
}
.L_csd2_hovertab A:hover {
	FONT-WEIGHT: bold; COLOR: #bfa84c! important
}
.L_csd2_dis {
	BORDER-RIGHT: #e2e2e2 1px solid; BORDER-TOP: #e2e2e2 0px solid; DISPLAY: block; BORDER-LEFT: #e2e2e2 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #e2e2e2 0px solid
}
.L_csd2_undis {
	DISPLAY: none
}
.newcsd_css01 {
	BACKGROUND: #e1effa; FLOAT: left; WIDTH: 51px; HEIGHT: 240px
}
.newcsd_css01_01 {
	DISPLAY: block; PADDING-TOP: 20px
}
.newcsd_css01_02 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; WIDTH: 10px; COLOR: #164366; LINE-HEIGHT: 20px; PADDING-TOP: 23px
}
.newcsd_css02 {
	BORDER-RIGHT: #e1effa 8px solid; PADDING-RIGHT: 0px; BORDER-TOP: #e1effa 8px solid; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #e1effa 0px solid; WIDTH: 585px; PADDING-TOP: 7px; BORDER-BOTTOM: #e1effa 8px solid; HEIGHT: 217px
}
.newcsd_css03 {
	CLEAR: both; BACKGROUND: #f4fae1; WIDTH: 100%; HEIGHT: 72px
}
.newcsd_css03div1 {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 8px
}
.newcsd_css03div2 {
	PADDING-RIGHT: 14px; PADDING-LEFT: 14px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 8px
}
.newcsd_css04 {
	MARGIN: 1px 0px 0px 1px; WIDTH: 351px
}
.newcsd_css05 {
	MARGIN: 1px 0px 0px 3px; WIDTH: 351px
}
.biaotop {
	CLEAR: both; BACKGROUND: url(../images/28.gif) no-repeat; OVERFLOW: hidden; WIDTH: 1000px; HEIGHT: 9px
}
.biaodi {
	CLEAR: both; BACKGROUND: url(../images/29.gif) no-repeat; OVERFLOW: hidden; WIDTH: 1000px; HEIGHT: 9px
}
.csd_jg {
	CLEAR: both; WIDTH: 621px
}
.csd_jg02 {
	CLEAR: both; WIDTH: 705px
}
.csd_jgbody {
	CLEAR: both; BORDER-RIGHT: #e2e2e2 1px solid; BORDER-TOP: #e2e2e2 0px solid; BORDER-LEFT: #e2e2e2 1px solid; BORDER-BOTTOM: #e2e2e2 0px solid
}
.csd_jgxian {
	BORDER-TOP: #e7e6e6 1px solid; MARGIN: 10px auto; OVERFLOW: hidden; WIDTH: 600px; HEIGHT: 1px
}
.csd_jgti {
	CLEAR: both; MARGIN: 5px auto; WIDTH: 594px
}
.csd_jgti02 {
	CLEAR: both; MARGIN: 5px 0px 0px 18px; WIDTH: 594px
}
.csd_jg_body {
	CLEAR: both; PADDING-RIGHT: 20px; DISPLAY: block; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.csd_jg_bodyimg {
	CLEAR: both; DISPLAY: block; MARGIN: 10px 0px
}
.csd_jg_body_pay {
	CLEAR: both; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; MARGIN: 0px auto; WIDTH: 671px; PADDING-TOP: 20px
}
.csd_jg_body_yn_p {
	CLEAR: both; PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
.csd_jg_bodyp {
	CLEAR: both; DISPLAY: block; PADDING-BOTTOM: 7px
}
.csd_jg_bodyp A {
	PADDING-LEFT: 30px; COLOR: #f30
}
.csd_jg_bodypspan01 A {
	PADDING-LEFT: 5px; FONT-SIZE: 12px; COLOR: #333
}
.csd_jg_bodyp SPAN {
	PADDING-RIGHT: 10px; FONT-SIZE: 14px; COLOR: #f30
}
.csd_jg_bodyh1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-SIZE: 14px; BACKGROUND: url(../images/35.gif) no-repeat; PADDING-BOTTOM: 0px; WIDTH: 291px; COLOR: #aaa; PADDING-TOP: 5px; HEIGHT: 26px
}
.csd_jg_body02 {
	BORDER-RIGHT: #e2e2e2 1px solid; BORDER-TOP: #e2e2e2 0px solid; BORDER-LEFT: #e2e2e2 1px solid; WIDTH: 309px; BORDER-BOTTOM: #e2e2e2 0px solid; HEIGHT: 232px
}
.csd_lixi {
	BORDER-RIGHT: #ffa200 1px solid; BORDER-TOP: #ffa200 1px solid; BACKGROUND: url(../images/37.gif) #fffbe4 repeat-x; BORDER-LEFT: #ffa200 1px solid; BORDER-BOTTOM: #ffa200 1px solid; HEIGHT: 255px
}
.csd_lixi2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(../images/38.gif) repeat-x; PADDING-BOTTOM: 0px; MARGIN: 2px; PADDING-TOP: 3px
}
.csd_lixi SPAN {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; FLOAT: left; PADDING-BOTTOM: 5px; PADDING-TOP: 7px; HEIGHT: 25px
}
.csd_lixi_two {
	BORDER-RIGHT: #ffa200 1px solid; BORDER-TOP: #ffa200 1px solid; BACKGROUND: url(../images/37.gif) repeat-x; BORDER-LEFT: #ffa200 1px solid; BORDER-BOTTOM: #ffa200 1px solid; HEIGHT: 245px
}
.csd_lixi_two2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; BACKGROUND: url(../images/38.gif) repeat-x; PADDING-BOTTOM: 0px; MARGIN: 2px; PADDING-TOP: 3px
}
.csd_lixi_two2 SPAN {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; PADDING-TOP: 7px; HEIGHT: 25px
}
.csd_dongtai {
	BORDER-RIGHT: #b2b2b2 1px solid; BORDER-TOP: #b2b2b2 1px solid; BACKGROUND: #f8f8f8; BORDER-LEFT: #b2b2b2 1px solid; BORDER-BOTTOM: #b2b2b2 1px solid; HEIGHT: 270px
}
.csd_dongtai02 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 18px; BACKGROUND: url(../images/41.gif) #f0f1f6 repeat-x; PADDING-BOTTOM: 0px; MARGIN: 2px; PADDING-TOP: 3px; HEIGHT: 263px
}
.csd_dongtai_two {
	PADDING-RIGHT: 5px; PADDING-LEFT: 8px; BACKGROUND: url(../images/41.gif) #f0f1f6 repeat-x; PADDING-BOTTOM: 0px; MARGIN: 2px; WIDTH: 250px; PADDING-TOP: 3px; HEIGHT: 263px
}
.csd_dongtai02h1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; PADDING-TOP: 6px
}
.csd_dongtai02h1 IMG {
	PADDING-LEFT: 20px
}
.csd_dongtai02p {
	MARGIN: 12px auto; WIDTH: 95%; COLOR: #6b6a6a; LINE-HEIGHT: 18px
}
.csd_dongtai02p STRONG A {
	COLOR: #11659a
}
.csdtwo_biao {
	CLEAR: both; OVERFLOW: hidden; WIDTH: 271px; HEIGHT: 10px
}
.csdtwo_biao02 {
	CLEAR: both; OVERFLOW: hidden; WIDTH: 271px; HEIGHT: 10px
}
.csdtwo_biao02 {
	HEIGHT: 11px
}
.csdtwo_body {
	BORDER-RIGHT: #f7f1cf 1px solid; BORDER-TOP: #f7f1cf 0px solid; BACKGROUND: #fcfaf0; BORDER-LEFT: #f7f1cf 1px solid; WIDTH: 269px; BORDER-BOTTOM: #f7f1cf 0px solid; HEIGHT: 300px
}
.csdtwo_body_VIP {
	BORDER-RIGHT: #dceef3 1px solid; BORDER-TOP: #dceef3 0px solid; BACKGROUND: #effafd; BORDER-LEFT: #dceef3 1px solid; WIDTH: 269px; BORDER-BOTTOM: #dceef3 0px solid; HEIGHT: 300px
}
.csdtwo_bodyimg01 {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 12px
}
.csdtwo_body_bdzo {
	CLEAR: both; MARGIN: 18px 0px 0px 20px
}
.csdtwo_body_bd {
	FONT-SIZE: 14px; COLOR: #5a1600; PADDING-TOP: 12px
}
.csdtwo_body_bd INPUT {
	BORDER-RIGHT: #e5ddb3 1px solid; BORDER-TOP: #e5ddb3 1px solid; MARGIN-LEFT: 10px; BORDER-LEFT: #e5ddb3 1px solid; BORDER-BOTTOM: #e5ddb3 1px solid
}
.csdtwo_body_bdVIP {
	FONT-SIZE: 14px; COLOR: #0f488c; PADDING-TOP: 12px
}
.csdtwo_body_bdVIP INPUT {
	BORDER-RIGHT: #c2e1ea 1px solid; BORDER-TOP: #c2e1ea 1px solid; MARGIN-LEFT: 10px; BORDER-LEFT: #c2e1ea 1px solid; BORDER-BOTTOM: #c2e1ea 1px solid
}
.csdtwo_body_bd02 {
	FONT-SIZE: 14px; PADDING-TOP: 20px
}
.csdtwo_body_bd02 A {
	COLOR: #ff3f00
}
.csdtwo_body_bd03 {
	CLEAR: both; MARGIN: 20px auto 0px; WIDTH: 132px
}
.csdtwo_body_bd04 {
	CLEAR: both; MARGIN: 15px auto 0px; WIDTH: 232px
}
.csdtwo_bodyh1 {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 16px; FONT-WEIGHT: normal; FONT-SIZE: 16px; BACKGROUND: url(../images/56.gif) no-repeat; PADDING-BOTTOM: 0px; OVERFLOW: hidden; PADDING-TOP: 9px; FONT-FAMILY: "ºÚÌå"; HEIGHT: 28px
}
.csdtwo_bodybj {
	BACKGROUND: url(../images/57.gif) no-repeat right top
}
.twocsd_aboutp {
	DISPLAY: block; COLOR: #646363; LINE-HEIGHT: 26px
}
.twocsd_aboutpspan01 {
	FONT-WEIGHT: bold; COLOR: #f30
}
.twocsd_aboutp SPAN {
	COLOR: #f30
}
.twocsd_aboutpimg01 {
	BORDER-RIGHT: #e1e1e1 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #e1e1e1 1px solid; PADDING-LEFT: 2px; FLOAT: right; PADDING-BOTTOM: 2px; MARGIN: 5px; BORDER-LEFT: #e1e1e1 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #e1e1e1 1px solid
}
.twocsd_aboutpimg02 {
	BORDER-RIGHT: #e1e1e1 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #e1e1e1 1px solid; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 5px; BORDER-LEFT: #e1e1e1 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #e1e1e1 1px solid
}
.twocsd_aboutpimg03 {
	BORDER-RIGHT: #e1e1e1 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #e1e1e1 1px solid; PADDING-LEFT: 2px; FLOAT: right; PADDING-BOTTOM: 2px; MARGIN: 5px; BORDER-LEFT: #e1e1e1 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #e1e1e1 1px solid
}
.twocsd_whyp {
	COLOR: #666; LINE-HEIGHT: 26px
}
.twocsd_whypstrong {
	FONT-WEIGHT: bold; COLOR: #f30
}
.twocsd_whypimg01 {
	FLOAT: left; MARGIN: 0px 5px 5px 0px
}
.twocsd_whypimg02 {
	CLEAR: both; MARGIN: 10px auto
}
.twocsd_whypimg03 {
	FLOAT: left; MARGIN: 12px 5px 5px 0px
}
.twocsd_whyspan01 {
	FONT-WEIGHT: bold; COLOR: #f30
}
.twocsd_whyspan02 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #f30
}
.twocsd_whyspan03 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.twocsd_whyspan04 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #000
}
.rollBox {
	CLEAR: both; BACKGROUND: url(../images/Gd_bg.gif) no-repeat; MARGIN: 0px auto; WIDTH: 989px; PADDING-TOP: 18px; HEIGHT: 80px
}
.rollBox .LeftBotton {
	DISPLAY: inline; BACKGROUND: url(../images/job_mj_069.gif) no-repeat 11px 0px; FLOAT: left; MARGIN: 2px 0px 0px; OVERFLOW: hidden; WIDTH: 19px; CURSOR: pointer; HEIGHT: 52px
}
.rollBox .RightBotton {
	DISPLAY: inline; BACKGROUND: url(../images/job_mj_069.gif) no-repeat -8px 0px; FLOAT: left; MARGIN: 2px 0px 0px; OVERFLOW: hidden; WIDTH: 20px; CURSOR: pointer; HEIGHT: 52px
}
.rollBox .Cont {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 950px
}
.rollBox .ScrCont {
	WIDTH: 10000000px
}
.rollBox .Cont .pic {
	FLOAT: left; WIDTH: 158px; TEXT-ALIGN: center
}
.rollBox .Cont .pic IMG {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 0px auto; PADDING-TOP: 4px
}
.rollBox .Cont .pic P {
	COLOR: #505050; LINE-HEIGHT: 26px
}
.rollBox .Cont A:link {
	COLOR: #626466; TEXT-DECORATION: none
}
.rollBox .Cont A:visited {
	COLOR: #626466; TEXT-DECORATION: none
}
.rollBox .Cont A:hover {
	COLOR: #f00; TEXT-DECORATION: underline
}
.rollBox #List1 {
	FLOAT: left
}
.rollBox #List2 {
	FLOAT: left
}
.twocst_servicep {
	CLEAR: both
}
.twocst_serviceph1 {
	CLEAR: both; DISPLAY: block; PADDING-LEFT: 15px; FONT-SIZE: 14px; BACKGROUND: url(../images/62.gif) no-repeat 0px 6px
}
.twocst_servicepspan {
	PADDING-LEFT: 15px; COLOR: #666
}
.twocst_servicepspan02 {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
.twocst_servicepspan03 {
	BACKGROUND: url(../images/61.gif) repeat-x; MARGIN: 15px 0px; OVERFLOW: hidden; HEIGHT: 1px
}
#new {
	Z-INDEX: 1000; LEFT: 400px; POSITION: absolute; TOP: -5px
}
