BODY {
	MARGIN: 0px; COLOR: #000; FONT-SIZE: 14px
}
.f1 {
	FONT-FAMILY: "ºÚÌå"; COLOR: #f60; FONT-SIZE: 18px
}
.en1 {
	FONT-FAMILY: Verdana, Geneva, sans-serif; COLOR: #f60; FONT-SIZE: 24px; FONT-WEIGHT: bold
}
