#box {
	MARGIN-LEFT: auto; WIDTH: 910px; MARGIN-RIGHT: auto
}
#top {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(../images/gude71.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 160px
}
#top .msg {
	BACKGROUND-IMAGE: url(../images/gude11.gif); MARGIN: 0px; COLOR: #0099ff; LINE-HEIGHT: 22px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 23px; TEXT-ALIGN: right
}
#top .msg SPAN {
	MARGIN-LEFT: 10px; COLOR: #333333; MARGIN-RIGHT: 10px
}
#top_left {
	FLOAT: left; MARGIN: 35px 90px 0px 0px; WIDTH: 270px; PADDING-TOP: 60px; HEIGHT: 40px; TEXT-ALIGN: right
}
#top_left SPAN {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #ff3300
}
#top_right {
	FLOAT: left; MARGIN: 35px 0px 0px; PADDING-TOP: 70px; HEIGHT: 30px
}
#top_right P {
	DISPLAY: block; FONT-WEIGHT: bold; FLOAT: left; MARGIN: 0px; WIDTH: 200px
}
.p2 {
	COLOR: #ff3300
}
#check_top {
	PADDING-RIGHT: 20px; FLOAT: right; MARGIN: 20px 0px 0px
}
#check_top SPAN {
	DISPLAY: block; FLOAT: left; MARGIN-LEFT: 5px; MARGIN-RIGHT: 5px
}
#check_year {
	MARGIN-LEFT: 5px; MARGIN-RIGHT: 5px
}
#check_week {
	MARGIN-LEFT: 5px; MARGIN-RIGHT: 5px
}
#contenter {
	MARGIN-TOP: 20px; PADDING-LEFT: 60px; MARGIN-BOTTOM: 0px
}
.block {
	FLOAT: left; MARGIN: 0px 20px 20px 0px; WIDTH: 236px
}
.block_top {
	BACKGROUND-POSITION: left top; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(../images/gude72.gif); MARGIN: 0px; COLOR: #0066ff; TEXT-INDENT: 20px; LINE-HEIGHT: 36px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 36px
}
.block_contenter {
	BORDER-RIGHT: #c0e3ff 1px solid; MARGIN: 0px 0px 0px 1px; BORDER-LEFT: #c0e3ff 1px solid; WIDTH: 232px
}
.tab {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; Z-INDEX: 99999; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #c0e3ff 1px solid; LIST-STYLE-TYPE: none; POSITION: relative; HEIGHT: 27px; BACKGROUND-COLOR: #edf8fe; TEXT-ALIGN: center
}
.tab LI {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0px 27px; PADDING-LEFT: 0px; FLOAT: left; BACKGROUND-IMAGE: url(../images/gude73.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 54px; CURSOR: pointer; LINE-HEIGHT: 27px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; POSITION: relative; TOP: 3px; HEIGHT: 27px
}
.tab LI SPAN {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0px -27px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../images/gude73.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #1a5191; PADDING-TOP: 0px
}
.tab LI.current {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; LINE-HEIGHT: 27px; TOP: 3px; HEIGHT: 27px
}
.tab_b LI {
	BACKGROUND-POSITION: 0px -27px; WIDTH: 54px; MARGIN-RIGHT: 0px; HEIGHT: 27px
}
.tab_b LI SPAN {
	BACKGROUND-POSITION: right -27px
}
.tab_b LI.current {
	BACKGROUND-POSITION: 0px 0px; LEFT: 0px
}
.tab_b LI.current SPAN {
	BACKGROUND-POSITION: right 0px; FONT-SIZE: 14px
}
#ax1 {
	PADDING-RIGHT: 5px; MARGIN-TOP: 10px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; TEXT-INDENT: 10px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#ax2 {
	PADDING-RIGHT: 5px; MARGIN-TOP: 10px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; TEXT-INDENT: 10px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#bx1 {
	PADDING-RIGHT: 5px; MARGIN-TOP: 10px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; TEXT-INDENT: 10px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#bx2 {
	PADDING-RIGHT: 5px; MARGIN-TOP: 10px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; TEXT-INDENT: 10px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cx1 {
	PADDING-RIGHT: 5px; MARGIN-TOP: 10px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; TEXT-INDENT: 10px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cx2 {
	PADDING-RIGHT: 5px; MARGIN-TOP: 10px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; TEXT-INDENT: 10px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#dx1 {
	PADDING-RIGHT: 5px; MARGIN-TOP: 10px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; TEXT-INDENT: 10px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#dx2 {
	PADDING-RIGHT: 5px; MARGIN-TOP: 10px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; TEXT-INDENT: 10px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#ex1 {
	PADDING-RIGHT: 5px; MARGIN-TOP: 10px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; TEXT-INDENT: 10px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#ex2 {
	PADDING-RIGHT: 5px; MARGIN-TOP: 10px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; TEXT-INDENT: 10px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#fx1 {
	PADDING-RIGHT: 5px; MARGIN-TOP: 10px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; TEXT-INDENT: 10px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#fx2 {
	PADDING-RIGHT: 5px; MARGIN-TOP: 10px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; TEXT-INDENT: 10px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#ax1 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 27px; PADDING-TOP: 0px; BORDER-BOTTOM: #c0e3ff 1px dashed; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 27px
}
#ax2 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 27px; PADDING-TOP: 0px; BORDER-BOTTOM: #c0e3ff 1px dashed; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 27px
}
#bx1 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 27px; PADDING-TOP: 0px; BORDER-BOTTOM: #c0e3ff 1px dashed; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 27px
}
#bx2 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 27px; PADDING-TOP: 0px; BORDER-BOTTOM: #c0e3ff 1px dashed; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 27px
}
#cx1 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 27px; PADDING-TOP: 0px; BORDER-BOTTOM: #c0e3ff 1px dashed; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 27px
}
#cx2 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 27px; PADDING-TOP: 0px; BORDER-BOTTOM: #c0e3ff 1px dashed; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 27px
}
#dx1 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 27px; PADDING-TOP: 0px; BORDER-BOTTOM: #c0e3ff 1px dashed; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 27px
}
#dx2 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 27px; PADDING-TOP: 0px; BORDER-BOTTOM: #c0e3ff 1px dashed; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 27px
}
#ex1 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 27px; PADDING-TOP: 0px; BORDER-BOTTOM: #c0e3ff 1px dashed; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 27px
}
#ex2 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 27px; PADDING-TOP: 0px; BORDER-BOTTOM: #c0e3ff 1px dashed; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 27px
}
#fx1 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 27px; PADDING-TOP: 0px; BORDER-BOTTOM: #c0e3ff 1px dashed; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 27px
}
#fx2 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 27px; PADDING-TOP: 0px; BORDER-BOTTOM: #c0e3ff 1px dashed; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 27px
}
#ax1 .li1 {
	HEIGHT: 60px
}
#ax2 .li1 {
	HEIGHT: 60px
}
#bx1 .li1 {
	HEIGHT: 60px
}
#bx2 .li1 {
	HEIGHT: 60px
}
#cx1 .li1 {
	HEIGHT: 60px
}
#cx2 .li1 {
	HEIGHT: 60px
}
#dx1 .li1 {
	HEIGHT: 60px
}
#dx2 .li1 {
	HEIGHT: 60px
}
#ex1 .li1 {
	HEIGHT: 60px
}
#ex2 .li1 {
	HEIGHT: 60px
}
#fx1 .li1 {
	HEIGHT: 60px
}
#fx2 .li1 {
	HEIGHT: 60px
}
#ax1 LI SPAN {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 120px; PADDING-TOP: 0px
}
#ax2 LI SPAN {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 140px; PADDING-TOP: 0px
}
#bx1 LI SPAN {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 120px; PADDING-TOP: 0px
}
#bx2 LI SPAN {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 140px; PADDING-TOP: 0px
}
#cx1 LI SPAN {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 110px; PADDING-TOP: 0px
}
#cx2 LI SPAN {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 140px; PADDING-TOP: 0px
}
#dx1 LI SPAN {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 120px; PADDING-TOP: 0px
}
#dx2 LI SPAN {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 140px; PADDING-TOP: 0px
}
#ex1 LI SPAN {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 110px; PADDING-TOP: 0px
}
#ex2 LI SPAN {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 140px; PADDING-TOP: 0px
}
#fx1 LI SPAN {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 120px; PADDING-TOP: 0px
}
#fx2 LI SPAN {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 140px; PADDING-TOP: 0px
}
#ax1 LI A {
	DISPLAY: block; COLOR: #333333; TEXT-DECORATION: none
}
#ax2 LI A {
	DISPLAY: block; COLOR: #333333; TEXT-DECORATION: none
}
#bx1 LI A {
	DISPLAY: block; COLOR: #333333; TEXT-DECORATION: none
}
#bx2 LI A {
	DISPLAY: block; COLOR: #333333; TEXT-DECORATION: none
}
#cx1 LI A {
	DISPLAY: block; COLOR: #333333; TEXT-DECORATION: none
}
#cx2 LI A {
	DISPLAY: block; COLOR: #333333; TEXT-DECORATION: none
}
#dx1 LI A {
	DISPLAY: block; COLOR: #333333; TEXT-DECORATION: none
}
#dx2 LI A {
	DISPLAY: block; COLOR: #333333; TEXT-DECORATION: none
}
#ex1 LI A {
	DISPLAY: block; COLOR: #333333; TEXT-DECORATION: none
}
#ex2 LI A {
	DISPLAY: block; COLOR: #333333; TEXT-DECORATION: none
}
#fx1 LI A {
	DISPLAY: block; COLOR: #333333; TEXT-DECORATION: none
}
#fx2 LI A {
	DISPLAY: block; COLOR: #333333; TEXT-DECORATION: none
}
.sp1 {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.sp2 {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.sp3 {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.sp1 {
	MARGIN-TOP: 15px; MARGIN-LEFT: 0px
}
.sp2 {
	MARGIN: 0px 10px 0px 0px
}
.sp3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; TEXT-INDENT: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.block_bottom {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(../images/gude76.gif); MARGIN: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 12px
}
#bottom {
	CLEAR: left; MARGIN: 0px; PADDING-TOP: 10px; HEIGHT: 90px; BACKGROUND-COLOR: #d4e281
}
#footer {
	MARGIN: 0px; HEIGHT: 90px; BACKGROUND-COLOR: #eaf2b7
}
#sunnav {
	PADDING-LEFT: 30px; FLOAT: left; MARGIN: 0px; WIDTH: 670px; PADDING-TOP: 20px; HEIGHT: 70px
}
#footer .service {
	MARGIN: 22px 0px 0px
}
#sunnav P {
	MARGIN: 0px
}
