
.menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.menu UL LI UL {
	DISPLAY: block; PADDING-LEFT: 10px; MARGIN: 0px; LIST-STYLE-TYPE: none
}
.menu UL LI A {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; DISPLAY: block; FONT-SIZE: 14px; BACKGROUND: #d2f3f7; MARGIN: 5px; BORDER-LEFT: #ccc 1px solid; WIDTH: 168px; COLOR: #3c5975; LINE-HEIGHT: 20px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 20px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.menu UL LI A:visited {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; DISPLAY: block; FONT-SIZE: 14px; BACKGROUND: #d2f3f7; MARGIN: 5px; BORDER-LEFT: #ccc 1px solid; WIDTH: 168px; COLOR: #3c5975; LINE-HEIGHT: 20px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 20px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.menu UL LI UL LI A {
	DISPLAY: inline; FONT-SIZE: 14px; BACKGROUND: #fff; MARGIN: 5px; OVERFLOW: hidden; WIDTH: 168px; COLOR: #666; BORDER-TOP-STYLE: none; LINE-HEIGHT: 20px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 20px; TEXT-ALIGN: center; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
.menu UL LI UL LI A:visited {
	DISPLAY: inline; FONT-SIZE: 14px; BACKGROUND: #fff; MARGIN: 5px; OVERFLOW: hidden; WIDTH: 168px; COLOR: #666; BORDER-TOP-STYLE: none; LINE-HEIGHT: 20px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 20px; TEXT-ALIGN: center; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
.menu UL LI A:hover {
	BACKGROUND: #fc7600; COLOR: #fff
}
.menu UL LI UL LI A:hover {
	BACKGROUND: #fff; COLOR: #ff6600; TEXT-DECORATION: underline
}
.menu UL LI {
	FLOAT: none; MARGIN-RIGHT: 1px; POSITION: relative
}
.menu UL LI UL LI {
	FLOAT: none; MARGIN-RIGHT: 1px; POSITION: relative
}
#right_top {
	PADDING-RIGHT: 20px; BACKGROUND-POSITION: 50% bottom; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(images/line_01.gif); PADDING-BOTTOM: 5px; PADDING-TOP: 20px; BACKGROUND-REPEAT: no-repeat
}
#right_bottom_01 {
	BACKGROUND-IMAGE: url(images/right_bg.gif); WIDTH: 610px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 20px
}
