BODY {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
OL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
P {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H1 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H2 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H3 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H4 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H5 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H6 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
FIELDSET {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DIV {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
BODY {
	FONT-FAMILY: "宋体"
}
UL {
	FONT-FAMILY: "宋体"
}
OL {
	FONT-FAMILY: "宋体"
}
LI {
	FONT-FAMILY: "宋体"
}
P {
	FONT-FAMILY: "宋体"
}
TABLE {
	FONT-FAMILY: "宋体"
}
TD {
	FONT-FAMILY: "宋体"
}
FORM {
	FONT-FAMILY: "宋体"
}
TD {
	FONT-SIZE: 13px; COLOR: #2f5fa1
}
P {
	FONT-SIZE: 13px; COLOR: #2f5fa1
}
DIV {
	FONT-SIZE: 13px; COLOR: #2f5fa1
}
LI {
	FONT-SIZE: 13px; COLOR: #2f5fa1
}
SELECT {
	FONT-SIZE: 13px; COLOR: #2f5fa1
}
INPUT {
	FONT-SIZE: 13px; COLOR: #2f5fa1
}
TEXTAREA {
	FONT-SIZE: 13px; COLOR: #2f5fa1
}
BODY {

}
A {
	TEXT-DECORATION: none
}
A:link {
	COLOR: #2f5fa1
}
A:visited {
	COLOR: #2f5fa1
}
A:active {
	COLOR: #d18410
}
A:hover {
	COLOR: #000000
}
#qingzuo {
	FLOAT: left
}
#qingyou {
	CLEAR: both; FLOAT: right
}
#qingquan {
	CLEAR: both
}
#input_login {
	BORDER-RIGHT: #abbec8 1px solid; BORDER-TOP: #abbec8 1px solid; BORDER-LEFT: #abbec8 1px solid; WIDTH: 125px; COLOR: #d18410; BORDER-BOTTOM: #abbec8 1px solid; HEIGHT: 15px
}
#top {
	CLEAR: both; BACKGROUND: url(../images/top_bg_01.jpg) repeat-x 50% top; OVERFLOW: hidden; WIDTH: 950px; HEIGHT: 95px
}
#top_left {
	MARGIN-TOP: 48px; FONT-WEIGHT: bold; FONT-SIZE: 22px; FLOAT: left; MARGIN-LEFT: 10px; COLOR: #ff6600
}
#top_logo {
	FLOAT: left; HEIGHT: 80px; TEXT-ALIGN: left
}
#top_right {
	FLOAT: right; WIDTH: 510px; HEIGHT: 30px
}
#top_right_top {
	CLEAR: both; PADDING-RIGHT: 25px; LINE-HEIGHT: 33px; HEIGHT: 34px; TEXT-ALIGN: right
}
#top_right_bottom {
	CLEAR: both; PADDING-RIGHT: 20px; MARGIN-TOP: 15px; VERTICAL-ALIGN: middle; COLOR: #ff6600; HEIGHT: 39px; TEXT-ALIGN: right
}
#menu {
	BACKGROUND: url(../images/menu_bg.jpg) repeat-x 50% top; WIDTH: 950px; WHITE-SPACE: nowrap; HEIGHT: 30px
}
#menu LI {
	BACKGROUND: url(../images/menu_line.jpg) no-repeat right top; FLOAT: left; WIDTH: 84px; LIST-STYLE-TYPE: none; HEIGHT: 30px
}
#menu LI A {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 7px; COLOR: #fff; PADDING-TOP: 8px; TEXT-ALIGN: center
}
#menu LI A.here {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../images/menu_li_hover.jpg) no-repeat left top; COLOR: #ff7e00
}
#menu LI A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../images/menu_li_hover.jpg) no-repeat left top; COLOR: #ef8a35
}
#menu LI#search {
	FLOAT: right; WIDTH: 236px; POSITION: relative
}
#menu LI#search INPUT {
	BORDER-RIGHT: #065387 1px solid; BORDER-TOP: #065387 1px solid; FONT-SIZE: 12px; LEFT: 0px; BORDER-LEFT: #065387 1px solid; WIDTH: 154px; COLOR: #666; BORDER-BOTTOM: #065387 1px solid; POSITION: absolute; TOP: 5px; HEIGHT: 16px
}
#menu LI#search INPUT.submit {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 600; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(../images/search_bg.jpg) no-repeat left 50%; LEFT: 162px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 1px; WIDTH: 59px; CURSOR: pointer; COLOR: #fff; PADDING-TOP: 2px; POSITION: absolute; TOP: 4px; HEIGHT: 21px; BORDER-RIGHT-WIDTH: 0px
}
#menu LI A#menu_home {
	BACKGROUND: url(../images/menu_home_other.jpg) no-repeat left top
}
#menu LI A.here#menu_home {
	BACKGROUND: url(../images/menu_home.jpg) no-repeat left top
}
#menu LI A#menu_home:hover {
	BACKGROUND: url(../images/menu_home.jpg) no-repeat left top
}
#zixun_title {
	DISPLAY: block; BACKGROUND: url(../images/new.gif) #d9ecfa no-repeat left center; BORDER-BOTTOM: #abbec8 1px solid; HEIGHT: 26px
}
#zixun_title LI {
	CLEAR: both; PADDING-LEFT: 6px; FONT-SIZE: 15px; MARGIN-LEFT: 30px; LINE-HEIGHT: 26px; LIST-STYLE-TYPE: none
}
#zixun_title1 {
	DISPLAY: block; BORDER-BOTTOM: #abbec8 1px solid; HEIGHT: 26px; BACKGROUND-COLOR: #d9ecfa
}
#zixun_title1 LI {
	PADDING-LEFT: 6px; FONT-SIZE: 15px; FLOAT: left; LINE-HEIGHT: 26px; LIST-STYLE-TYPE: none
}
#bbs_fanhui {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #ff0000
}
#bbs_fanhui A:link {
	COLOR: #ff0000; TEXT-DECORATION: none
}
#bbs_fanhui A:visited {
	COLOR: #ff0000
}
#bbs_fanhui A:hover {
	COLOR: #000099
}
#bbs_index {
	BORDER-RIGHT: #abbec8 1px solid;
	BORDER-TOP: #abbec8 1px solid;
	FLOAT: left;
	OVERFLOW: hidden;
	BORDER-LEFT: #abbec8 1px solid;
	WIDTH: 312px;
	BORDER-BOTTOM: #abbec8 1px solid;
	HEIGHT: 235px
}
#foot_nav {
	BORDER-RIGHT: #abbec8 1px solid; BORDER-TOP: #abbec8 1px solid; MARGIN-TOP: 10px; FONT-WEIGHT: bold; BACKGROUND: url(../images/foot_nav.gif) repeat-x; BORDER-LEFT: #abbec8 1px solid; WIDTH: 950px; COLOR: #ffffff; LINE-HEIGHT: 26px; BORDER-BOTTOM: #abbec8 1px solid; HEIGHT: 26px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#foot_nav A:link {
	COLOR: #ffffff
}
#foot_nav A:visited {
	COLOR: #ffffff
}
#foot_nav A:active {
	COLOR: #003399
}
#foot_nav A:hover {
	COLOR: #ff9933
}
.qqtitle {
	COLOR: #ffffff; LINE-HEIGHT: 150%; TEXT-ALIGN: center
}
.qqtitle A:link {
	FONT-WEIGHT: bolder; COLOR: #ffffff
}
.qqtitle A:visited {
	FONT-WEIGHT: bolder; COLOR: #ffffff
}
