BODY {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
OL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
P {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H1 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H2 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H3 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H4 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H5 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H6 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
FIELDSET {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DIV {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
BODY {
	FONT-FAMILY: "宋体"
}
UL {
	FONT-FAMILY: "宋体"
}
OL {
	FONT-FAMILY: "宋体"
}
LI {
	FONT-FAMILY: "宋体"
}
P {
	FONT-FAMILY: "宋体"
}
TABLE {
	FONT-FAMILY: "宋体"
}
TD {
	FONT-FAMILY: "宋体"
}
FORM {
	FONT-FAMILY: "宋体"
}
TD {
	FONT-SIZE: 13px; COLOR: #2f5fa1
}
P {
	FONT-SIZE: 13px; COLOR: #2f5fa1
}
DIV {
	FONT-SIZE: 13px; COLOR: #2f5fa1
}
LI {
	FONT-SIZE: 13px; COLOR: #2f5fa1
}
SELECT {
	FONT-SIZE: 13px; COLOR: #2f5fa1
}
INPUT {
	FONT-SIZE: 13px; COLOR: #2f5fa1
}
TEXTAREA {
	FONT-SIZE: 13px; COLOR: #2f5fa1
}
BODY {
	BACKGROUND: url(../images/bodybg.gif) #ffffff repeat-x 50% top
}
A {
	TEXT-DECORATION: none
}
A:link {
	COLOR: #2f5fa1
}
A:visited {
	COLOR: #2f5fa1
}
A:active {
	COLOR: #d18410
}
A:hover {
	COLOR: #000000
}
#qingzuo {
	FLOAT: left
}
#qingyou {
	CLEAR: both; FLOAT: right
}
#qingquan {
	CLEAR: both
}
.input_login {
	BORDER-RIGHT: #b5ddec 1px solid; BORDER-TOP: #b5ddec 1px solid; BORDER-LEFT: #b5ddec 1px solid; WIDTH: 125px; COLOR: #d18410; BORDER-BOTTOM: #b5ddec 1px solid; HEIGHT: 15px
}
#top {
	CLEAR: both; BACKGROUND: url(../images/top_bg_01.jpg) repeat-x 50% top; OVERFLOW: hidden; WIDTH: 950px; HEIGHT: 90px
}
#top_logo {
	FLOAT: left; WIDTH: 237px; HEIGHT: 90px; TEXT-ALIGN: center
}
#top_left {
	MARGIN-TOP: 40px; FONT-WEIGHT: bold; FONT-SIZE: 22px; FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 210px; COLOR: #ff6600; HEIGHT: 40px; TEXT-ALIGN: center
}
#top_right {
	FLOAT: right; WIDTH: 480px
}
#top_right_top {
	CLEAR: both; PADDING-RIGHT: 20px; LINE-HEIGHT: 35px; HEIGHT: 35px; TEXT-ALIGN: right
}
#top_right_bottom {
	CLEAR: both; PADDING-RIGHT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff6600; LINE-HEIGHT: 40px; HEIGHT: 40px
}
#menu {
	BACKGROUND: url(../images/menu_bg.jpg) repeat-x 50% top; WIDTH: 950px; WHITE-SPACE: nowrap; HEIGHT: 30px
}
#menu LI {
	BACKGROUND: url(../images/menu_line.jpg) no-repeat right top; FLOAT: left; WIDTH: 84px; LIST-STYLE-TYPE: none; HEIGHT: 30px
}
#menu LI A {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 7px; COLOR: #fff; PADDING-TOP: 8px; TEXT-ALIGN: center
}
#menu LI A.here {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../images/menu_li_hover.jpg) no-repeat left top; COLOR: #ff7e00
}
#menu LI A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../images/menu_li_hover.jpg) no-repeat left top; COLOR: #ef8a35
}
.missionbg:hover {
	BACKGROUND: url(../images/missionbg.gif) repeat-x
}
#menu LI#search {
	FLOAT: right; WIDTH: 236px; POSITION: relative
}
#menu LI#search INPUT {
	BORDER-RIGHT: #065387 1px solid; BORDER-TOP: #065387 1px solid; FONT-SIZE: 12px; LEFT: 0px; BORDER-LEFT: #065387 1px solid; WIDTH: 154px; COLOR: #666; BORDER-BOTTOM: #065387 1px solid; POSITION: absolute; TOP: 5px; HEIGHT: 16px
}
#menu LI#search INPUT.submit {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 600; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(../images/search_bg.jpg) no-repeat left 50%; LEFT: 162px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 1px; WIDTH: 59px; CURSOR: pointer; COLOR: #fff; PADDING-TOP: 2px; POSITION: absolute; TOP: 4px; HEIGHT: 21px; BORDER-RIGHT-WIDTH: 0px
}
#menu LI A#menu_home {
	BACKGROUND: url(../images/menu_home_other.jpg) no-repeat left top
}
#menu LI A.here#menu_home {
	BACKGROUND: url(../images/menu_home.jpg) no-repeat left top
}
#menu LI A#menu_home:hover {
	BACKGROUND: url(../images/menu_home.jpg) no-repeat left top
}
#news_container {
	CLEAR: both; OVERFLOW: hidden; WIDTH: 950px; HEIGHT: 240px; BACKGROUND-COLOR: #ffffff
}
#news_flash {
	BORDER-RIGHT: #abbec8 1px solid; BORDER-TOP: #abbec8 1px solid; FLOAT: left; BORDER-LEFT: #abbec8 1px solid; WIDTH: 300px; BORDER-BOTTOM: #abbec8 1px solid; HEIGHT: 238px
}
#news_notic {
	BORDER-RIGHT: #abbec8 1px solid; BORDER-TOP: #abbec8 1px solid; FLOAT: left; MARGIN-LEFT: 8px; OVERFLOW: hidden; BORDER-LEFT: #abbec8 1px solid; WIDTH: 360px; BORDER-BOTTOM: #abbec8 1px solid; HEIGHT: 238px; BACKGROUND-COLOR: #f3f8fe
}
#news_login {
	CLEAR: right; FLOAT: right; MARGIN-LEFT: 7px; WIDTH: 269px
}
#news_login_top {
	CLEAR: both; BORDER-RIGHT: #abbec8 1px solid; BORDER-TOP: #abbec8 1px solid; BORDER-LEFT: #abbec8 1px solid; WIDTH: 267px; BORDER-BOTTOM: #abbec8 1px solid; HEIGHT: 114px; BACKGROUND-COLOR: #f3f8fe
}
#news_login_bottom {
	CLEAR: both; BORDER-RIGHT: #abbec8 1px solid; BORDER-TOP: #abbec8 1px solid; MARGIN-TOP: 7px; BORDER-LEFT: #abbec8 1px solid; WIDTH: 267px; BORDER-BOTTOM: #abbec8 1px solid; HEIGHT: 114px; BACKGROUND-COLOR: #f3f8fe; TEXT-ALIGN: center
}
#index_login {
	CLEAR: both
}
#index_login_xia {
	CLEAR: both; PADDING-RIGHT: 30px; VERTICAL-ALIGN: middle; LINE-HEIGHT: 26px; HEIGHT: 26px; TEXT-ALIGN: right
}
#zixun_zuo {
	BORDER-RIGHT: #abbec8 1px solid; BORDER-TOP: #abbec8 1px solid; FLOAT: left; OVERFLOW: hidden; BORDER-LEFT: #abbec8 1px solid; WIDTH: 467px; BORDER-BOTTOM: #abbec8 1px solid; HEIGHT: 297px
}
#zixun_you {
	BORDER-RIGHT: #abbec8 1px solid; BORDER-TOP: #abbec8 1px solid; FLOAT: right; MARGIN-LEFT: 6px; OVERFLOW: hidden; BORDER-LEFT: #abbec8 1px solid; WIDTH: 467px; BORDER-BOTTOM: #abbec8 1px solid; HEIGHT: 297px
}
#zixun_title {
	DISPLAY: block; BORDER-BOTTOM: #abbec8 1px solid; HEIGHT: 26px; BACKGROUND-COLOR: #d9ecfa
}
#zixun_title LI {
	PADDING-LEFT: 6px; FONT-SIZE: 15px; FLOAT: left; LINE-HEIGHT: 26px; LIST-STYLE-TYPE: none
}
#zixun_title1 {
	DISPLAY: block; BORDER-BOTTOM: #abbec8 1px solid; HEIGHT: 26px; BACKGROUND-COLOR: #d9ecfa
}
#zixun_title1 LI {
	PADDING-LEFT: 6px; FONT-SIZE: 15px; FLOAT: left; LINE-HEIGHT: 26px; LIST-STYLE-TYPE: none
}
#zixun_tuijian {
	BORDER-RIGHT: #ff9966 1px dashed; BORDER-TOP: #ff9966 1px dashed; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BORDER-LEFT: #ff9966 1px dashed; COLOR: #666666; LINE-HEIGHT: 22px; BORDER-BOTTOM: #ff9966 1px dashed; HEIGHT: 22px; BACKGROUND-COLOR: #fbeccf; TEXT-ALIGN: left; TEXT-DECORATION: none
}
#zixun_tuijian A:visited {
	COLOR: #666666
}
#zixun_tuijian A:hover {
	COLOR: #ff0000
}
#bbs_index {
	BORDER-RIGHT: #abbec8 1px solid; BORDER-TOP: #abbec8 1px solid; FLOAT: left; OVERFLOW: hidden; BORDER-LEFT: #abbec8 1px solid; WIDTH: 310px; BORDER-BOTTOM: #abbec8 1px solid; HEIGHT: 299px
}
#foot_nav {
	BORDER-RIGHT: #abbec8 1px; BORDER-TOP: #abbec8 1px solid; MARGIN-TOP: 10px; FONT-WEIGHT: bold; BACKGROUND: url(../images/foot_nav.gif) repeat-x; BORDER-LEFT: #abbec8 1px; WIDTH: 950px; COLOR: #ffffff; LINE-HEIGHT: 26px; BORDER-BOTTOM: #abbec8 1px solid; HEIGHT: 26px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#foot_nav A:link {
	COLOR: #ffffff
}
#foot_nav A:visited {
	COLOR: #ffffff
}
#foot_nav A:active {
	COLOR: #003399
}
#foot_nav A:hover {
	COLOR: #ff9933
}
.PicTitle LI {
	MARGIN: 7px 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
.PicTitle IMG {
	BORDER-RIGHT: #fec6a3 2px solid; BORDER-TOP: #fec6a3 2px solid; BORDER-LEFT: #fec6a3 2px solid; BORDER-BOTTOM: #fec6a3 2px solid
}
.anniu {
	BORDER-RIGHT: #2f5fa1 2px solid; BORDER-TOP: #2f5fa1 2px solid; FONT-SIZE: 12px; MARGIN: 3px; BORDER-LEFT: #2f5fa1 2px solid; COLOR: #ffffff; LINE-HEIGHT: 150%; BORDER-BOTTOM: #2f5fa1 2px solid; BACKGROUND-COLOR: #006600
}
.qqtitle {
	LINE-HEIGHT: 150%; TEXT-ALIGN: center
}
.qqtitle A:link {
	FONT-WEIGHT: bolder
}
.qqtitle A:visited {
	FONT-WEIGHT: bolder
}
