 
.bold {
	FONT-WEIGHT: bold
}
.center {
	MARGIN: 0px auto
}
.clearfix {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; HEIGHT: 0px
}
.closediv:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.closediv {
	DISPLAY: inline-block
}
.closediv {
	DISPLAY: block
}
.red {
	COLOR: red
}
.c065289 {
	COLOR: #065289
}
.wrapper {
	MARGIN: 0px auto; WIDTH: 962px; TEXT-ALIGN: left
}
#sitenav {
	BACKGROUND: url(../images/jieducm_body_bg.png) #fff repeat-x; WIDTH: 100%; COLOR: #ff6400; LINE-HEIGHT: 29px; HEIGHT: 29px
}
#sitenav .info {
	PADDING-LEFT: 25px; BACKGROUND: url(../images/jieducm_01.png) no-repeat left 5px
}
#sitenav .info A {
	DISPLAY: inline-block; BACKGROUND: url(../images/jieducm_02.png) no-repeat left 9px; FLOAT: right; WIDTH: 12px; HEIGHT: 29px
}
#left {
	WIDTH: 260px; FLOAT: left; FONT-SIZE: 12px
}
.left-title {
	BACKGROUND: url(../images/box.gif) no-repeat left -111px; HEIGHT: 32px; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: 700
}
.left-title A.current {
	BACKGROUND: url(../images/box.gif) no-repeat 18px -176px; COLOR: #06538b
}
.left-title A {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 27px; PADDING-LEFT: 18px; WIDTH: 79px; PADDING-RIGHT: 18px; DISPLAY: block; FLOAT: left; HEIGHT: 27px; COLOR: #fff; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.left-title DIV {
	BACKGROUND: url(../images/box.gif) no-repeat right -144px; HEIGHT: 27px; PADDING-TOP: 5px
}
#left .list {
	BORDER-BOTTOM: #347cda 0px solid; BORDER-LEFT: #347cda 1px solid; BACKGROUND: #ebf8ff; HEIGHT: 143px; CLEAR: both; BORDER-TOP: #347cda 0px solid; BORDER-RIGHT: #347cda 1px solid; _height: 135px
}
#left .list LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; HEIGHT: 19px; CLEAR: both; PADDING-TOP: 3px
}
#left .list LI IMG {
	DISPLAY: block; FLOAT: left; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 5px
}
#left .list LI A {
	BORDER-BOTTOM: #ddd 1px dashed; LINE-HEIGHT: 18px; DISPLAY: block; FLOAT: left; HEIGHT: 18px; TEXT-DECORATION: none
}
#left .box-bottom {
	BACKGROUND: url(../images/box.gif) no-repeat left -203px; HEIGHT: 7px; OVERFLOW: hidden
}
#left .box-bottom SPAN {
	DISPLAY: block; BACKGROUND: url(../images/box.gif) no-repeat right -210px; HEIGHT: 7px
}
.operate-title {
	BORDER-BOTTOM: #347cda 1px; BORDER-LEFT: #347cda 1px solid; COLOR: #fff; BORDER-TOP: #347cda 1px solid; FONT-WEIGHT: 700; BORDER-RIGHT: #347cda 1px solid
}
.operate-title A {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 29px; PADDING-LEFT: 0px; WIDTH: 58px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(images/operate_01.png) no-repeat right 3px; FLOAT: left; HEIGHT: 29px; COLOR: #ebf8ff; OVERFLOW: hidden; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.operate-title A.current {
	BACKGROUND: url(images/operate_02.png) no-repeat left top
}
.operate-title DIV {
	BORDER-BOTTOM: #83d4f6 1px; BORDER-LEFT: #83d4f6 1px solid; BACKGROUND: url(images/vertical.png) repeat-x left -192px; HEIGHT: 29px; BORDER-TOP: #83d4f6 1px solid; BORDER-RIGHT: #83d4f6 1px solid
}
.operate-body {
	BORDER-BOTTOM: #347cda 1px solid; BORDER-LEFT: #347cda 1px solid; PADDING-BOTTOM: 10px; LINE-HEIGHT: 30px; PADDING-LEFT: 0px; WIDTH: 234px; PADDING-RIGHT: 0px; BACKGROUND: #ebf8ff; HEIGHT: 180px; COLOR: #065289; BORDER-TOP: #347cda 1px; FONT-WEIGHT: bold; BORDER-RIGHT: #347cda 1px solid; PADDING-TOP: 10px
}
.operate-body FORM {
	TEXT-ALIGN: center
}
.operate-body FORM INPUT {
	_margin: 5px 0
}
.operate-body FORM SELECT {
	_margin: 5px 0
}
#right {
	WIDTH: 690px; FLOAT: right
}
#right .right-menu {
	BACKGROUND: url(../images/line_bg.png) repeat-x left 28px; HEIGHT: 33px
}
#right .right-menu A {
	TEXT-ALIGN: center; LINE-HEIGHT: 32px; MARGIN: 0px 20px; WIDTH: 86px; DISPLAY: block; BACKGROUND: url(../images/box.gif) repeat-x -97px -264px; FLOAT: left; HEIGHT: 32px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#right .right-menu A.current {
	BACKGROUND: url(../images/box.gif) repeat-x left -264px
}
#right .right-menu DIV {
	LINE-HEIGHT: 22px; PADDING-LEFT: 10px; WIDTH: 252px; BACKGROUND: url(images/bg.gif) repeat-x left top; FLOAT: right; HEIGHT: 22px; MARGIN-RIGHT: 20px
}
#right .table {
	BORDER-BOTTOM: #acdaff 1px solid; BORDER-LEFT: #acdaff 1px solid; WIDTH: 100%; BORDER-TOP: #acdaff 1px solid; BORDER-RIGHT: #acdaff 1px solid
}
#right .table THEAD TH {
	BORDER-BOTTOM: #acdaff 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #acdaff 1px solid; LINE-HEIGHT: 200%; BACKGROUND: #e6f6ff; BORDER-TOP: #acdaff 1px solid; BORDER-RIGHT: #acdaff 1px solid
}
#right .table THEAD {
	BACKGROUND: url(images/vertical.png) repeat-x left -51px; HEIGHT: 23px
}
#right .table THEAD TD {
	PADDING-LEFT: 10px
}
#right .table TBODY TD {
	BORDER-BOTTOM: #acdaff 1px solid; TEXT-ALIGN: center; PADDING-BOTTOM: 3px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; VERTICAL-ALIGN: middle; PADDING-TOP: 3px
}
#right .table TBODY TD IMG {
	MARGIN: 0px 2px
}
#link {
	BORDER-BOTTOM: #347cda 1px solid; BORDER-LEFT: #347cda 1px solid; PADDING-LEFT: 36px; WIDTH: 926px; BACKGROUND: url(images/bg.png) no-repeat left top; HEIGHT: 1%; BORDER-TOP: #347cda 1px solid; BORDER-RIGHT: #347cda 1px solid
}
#link .img-link {
	CLEAR: both
}
#link .img-link LI {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FLOAT: left; PADDING-TOP: 5px
}
#link .text-link {
	WIDTH: 100%
}
#footer {
	TEXT-ALIGN: center; PADDING-BOTTOM: 15px; LINE-HEIGHT: 200%; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(images/footer.png) repeat-x left 5px; PADDING-TOP: 15px
}
#footer A {
	COLOR: red
}
#user-contrl {
	BORDER-BOTTOM: #347cda 1px solid; BORDER-LEFT: #347cda 1px solid; WIDTH: 163px; BACKGROUND: #e6f6ff; FLOAT: left; BORDER-TOP: #347cda 1px solid; BORDER-RIGHT: #347cda 1px solid
}
.user-contrl-title {
	BORDER-BOTTOM: #feffff 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; BACKGROUND: url(images/vertical.png) repeat-x left -88px; COLOR: #ffffff; PADDING-TOP: 0px; _padding: 5px 0 5px 5px
}
.user-list {
	
}
.user-list LI {
	LINE-HEIGHT: 23px; PADDING-LEFT: 12px; BACKGROUND: url(images/ico/23.gif) no-repeat left 8px; HEIGHT: 23px
}
.user-info {
	BORDER-BOTTOM: #acdaff 1px solid; BORDER-LEFT: #acdaff 1px solid; WIDTH: 760px; BACKGROUND: #eff9ff; FLOAT: right; BORDER-TOP: #acdaff 1px solid; BORDER-RIGHT: #acdaff 1px solid
}
.user-info THEAD {
	BACKGROUND: url(images/vertical.png) repeat-x left -51px
}
.user-info THEAD TD {
	LINE-HEIGHT: 23px; HEIGHT: 23px; COLOR: #065289; VERTICAL-ALIGN: middle
}
.user-info TBODY TD {
	BORDER-BOTTOM: #c1e4ff 1px solid; BORDER-LEFT: #c1e4ff 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BORDER-TOP: #c1e4ff 1px solid; BORDER-RIGHT: #c1e4ff 1px solid; PADDING-TOP: 3px
}
.user-info TBODY TH {
	BORDER-BOTTOM: #c1e4ff 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #c1e4ff 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND: #e6f6ff; COLOR: #065289; BORDER-TOP: #c1e4ff 1px solid; BORDER-RIGHT: #c1e4ff 1px solid; PADDING-TOP: 3px
}
.message-menu {
	LINE-HEIGHT: 32px; MARGIN-TOP: 10px; PADDING-LEFT: 20px; WIDTH: 770px; BACKGROUND: url(images/line_bg.png) repeat-x left 28px; FLOAT: right; HEIGHT: 33px
}
.message-menu A {
	MARGIN: 0px 5px; WIDTH: 80px; PADDING-RIGHT: 5px; DISPLAY: block; BACKGROUND: url(images/message-003.png) no-repeat right top; FLOAT: left; CURSOR: pointer; TEXT-DECORATION: none
}
.message-menu A:hover {
	TEXT-DECORATION: none
}
.message-menu A SPAN {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; DISPLAY: block; BACKGROUND: url(images/message-004.png) no-repeat left top; HEIGHT: 32px; COLOR: #065289; OVERFLOW: hidden; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.message-menu A.current {
	BACKGROUND: url(images/message-001.png) no-repeat right top
}
.message-menu A.current SPAN {
	BACKGROUND: url(images/message-002.png) no-repeat left top; COLOR: #ffffff
}
.appeal {
	BORDER-BOTTOM: #347cda 1px solid; BORDER-LEFT: #347cda 1px solid; WIDTH: 720px; BACKGROUND: #eff9ff; FLOAT: right; BORDER-TOP: #347cda 1px; BORDER-RIGHT: #347cda 1px solid
}
.appeal THEAD {
	BACKGROUND: url(images/vertical.png) repeat-x left -241px; HEIGHT: 31px
}
.appeal THEAD TD A {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 31px; PADDING-LEFT: 0px; WIDTH: 112px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(images/operate_01.png) no-repeat right 3px; FLOAT: left; HEIGHT: 31px; COLOR: #ebf8ff; OVERFLOW: hidden; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.appeal THEAD TD A.current {
	BACKGROUND: url(images/appeal-001.png) no-repeat left top
}
.appeal .aooeal-table {
	BORDER-BOTTOM: #acdaff 1px solid; BORDER-LEFT: #acdaff 1px solid; WIDTH: 100%; BACKGROUND: #ffffff; BORDER-TOP: #acdaff 1px solid; BORDER-RIGHT: #acdaff 1px solid
}
.appeal .aooeal-table THEAD {
	LINE-HEIGHT: 23px; BACKGROUND: #e6f6ff; HEIGHT: 23px
}
.appeal .aooeal-table THEAD TH {
	TEXT-ALIGN: center; COLOR: #2c629e
}
.appeal .aooeal-table TBODY TD {
	BORDER-BOTTOM: #bbd0df 1px dashed; TEXT-ALIGN: center; HEIGHT: 40px; COLOR: #2c629e; VERTICAL-ALIGN: middle
}
#help-head {
	BACKGROUND: url(images/help-head.png) repeat-x; HEIGHT: 89px
}
.help-logo {
	MARGIN-TOP: 5px; FLOAT: left
}
.help-menu {
	POSITION: absolute; BOTTOM: -7px; RIGHT: 1px
}
.help-menu A {
	TEXT-ALIGN: center; LINE-HEIGHT: 26px; WIDTH: 74px; DISPLAY: block; BACKGROUND: url(images/help-menu-002.png) no-repeat; FLOAT: right; HEIGHT: 26px; MARGIN-RIGHT: 8px
}
.help-menu A.current {
	BACKGROUND: url(images/help-menu-001.png) no-repeat; COLOR: #fff
}
.help-container {
	MARGIN: 5px auto 0px; WIDTH: 840px; BACKGROUND: url(images/help-body.png) repeat-x
}
#popWindow {
	BACKGROUND-COLOR: #f7fcff; MARGIN: 0px auto; WIDTH: 535px; HEIGHT: 270px
}
#pop_bar {
	BORDER-BOTTOM: #d6f0fe 1px solid; BORDER-LEFT: #d6f0fe 1px solid; BACKGROUND-COLOR: #d6f0fe; HEIGHT: 25px; BORDER-TOP: #d6f0fe 1px solid; BORDER-RIGHT: #d6f0fe 1px solid
}
#pop_title {
	PADDING-LEFT: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif; FLOAT: left; COLOR: #2c629e; FONT-SIZE: 12px; VERTICAL-ALIGN: middle
}
#textBox {
	TEXT-ALIGN: center; LINE-HEIGHT: 130px; WIDTH: 100%; HEIGHT: 130px; VERTICAL-ALIGN: middle; OVERFLOW: hidden
}
#textBox BUTTON {
	WIDTH: 100px
}
#formBox {
	MARGIN: 5px 10px
}
#formBox FORM {
	TEXT-ALIGN: center
}
.button {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; MARGIN: 20px 10px 10px; PADDING-LEFT: 20px; WIDTH: 80px; FONT-FAMILY: "Tahoma", "MS Shell Dlg"; BACKGROUND: url(images/btn_ok.gif) no-repeat 8px 50%; HEIGHT: 20px; COLOR: #333; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.button-remove {
	BACKGROUND: url(images/btn_remove.gif) no-repeat 8px 50%
}
BUTTON {
	WIDTH: auto; FONT-FAMILY: "Tahoma", "MS Shell Dlg"; HEIGHT: 20px; COLOR: #333
}
#tipsBox {
	TEXT-ALIGN: center; PADDING-BOTTOM: 20px; MARGIN: 5px 10px 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 20px
}
#bgMask {
	Z-INDEX: 50; POSITION: absolute; FILTER: Alpha(opacity=50); BACKGROUND-COLOR: #000; DISPLAY: none
}
.pages {
	TEXT-ALIGN: center; WIDTH: 790px; FLOAT: right
}
.pages A {
	MARGIN: 0px 5px
}
.speedjieducm {
	PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 3px; WIDTH: 54px; PADDING-RIGHT: 3px; BACKGROUND: url(../images/collect_speed.png) repeat-x left center; HEIGHT: 13px; PADDING-TOP: 0px
}
.rate {
	BACKGROUND: url(../images/collect_rate.png) repeat-x left 3px; HEIGHT: 100%
}
.sms {
	WIDTH: 100%; BACKGROUND: #f7fcff
}
.sms THEAD {
	BACKGROUND: #d6f0fe; HEIGHT: 25px; COLOR: #336699
}
.sms TD {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.sms .col1 {
	TEXT-ALIGN: right; WIDTH: 70px
}
.msg-table {
	BACKGROUND: #ffffff
}
.msg-table THEAD {
	BORDER-BOTTOM: #d1dcee 1px solid; BACKGROUND: #e6f4ff
}
.msg-table THEAD TD {
	HEIGHT: 25px; COLOR: #cd1b1b; FONT-SIZE: 14px
}
.msg-table TD {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; PADDING-TOP: 5px; _padding: 2px
}
.msg-table .col1 {
	TEXT-ALIGN: right; WIDTH: 100px; HEIGHT: 40px
}
.msg-table .input {
	BORDER-BOTTOM: #7e9db9 1px solid; BORDER-LEFT: #7e9db9 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #7e9db9 1px solid; BORDER-RIGHT: #7e9db9 1px solid; PADDING-TOP: 5px
}
BODY DIV#tooltip {
	Z-INDEX: 1000; POSITION: absolute; MIN-HEIGHT: 1em
}
SPAN.yes {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 1.6em; PADDING-RIGHT: 0px; BACKGROUND: url(images/right.gif) no-repeat left center; HEIGHT: 18px; COLOR: #070; PADDING-TOP: 0.4em
}
SPAN.no {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 1.6em; PADDING-RIGHT: 0px; BACKGROUND: url(images/right.gif) no-repeat left center; HEIGHT: 18px; COLOR: #070; PADDING-TOP: 0.4em
}
SPAN.no {
	BACKGROUND-IMAGE: url(images/wrong.gif); COLOR: #c00
}
.table-1 TR TD {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; PADDING-TOP: 8px
}
.f-s-14 {
	FONT-SIZE: 14px
}
.f-s-12 {
	FONT-SIZE: 12px
}
.f-b {
	FONT-WEIGHT: bold
}
.c-green {
	COLOR: green
}
.c-gray {
	COLOR: #888
}
.c-red {
	COLOR: red
}
.c-blue {
	COLOR: #1f55a2
}
.t-c {
	TEXT-ALIGN: center
}
.t-a-c {
	TEXT-ALIGN: center
}
.t-j {
	TEXT-ALIGN: justify
}
.t-r {
	TEXT-ALIGN: right
}
.t-l {
	TEXT-ALIGN: left
}
.b-b-1 {
	BORDER-BOTTOM: #ccc 1px solid
}
.msg {
	BORDER-BOTTOM: #dad3b7 1px dashed; BORDER-LEFT: #dad3b7 1px dashed; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BACKGROUND: #feffcb; BORDER-TOP: #dad3b7 1px dashed; BORDER-RIGHT: #dad3b7 1px dashed; PADDING-TOP: 4px
}
A.c-red {
	COLOR: red
}
A.c-gray {
	COLOR: #888
}
#new_msg {
	Z-INDEX: 6000; POSITION: absolute; TEXT-ALIGN: right; LINE-HEIGHT: 25px; WIDTH: 93px; BACKGROUND: url(images/bg_newmsg.gif) no-repeat 0px 0px; HEIGHT: 25px
}
#trade-search-box {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 790px; PADDING-RIGHT: 0px; FLOAT: right; PADDING-TOP: 0px
}
.table-6 {
	MARGIN-LEFT: 30px
}
.table-6 .col1 {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 4px
}
.table-6 .col2 {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 4px
}
.table-6 .col3 {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 4px
}
#trade-search-box .tool-toggle {
	TEXT-INDENT: -999px; MARGIN: 0px auto; OUTLINE-STYLE: none; OUTLINE-WIDTH: medium; WIDTH: 685px; DISPLAY: block; BACKGROUND: url(images/toggle_bg.gif) no-repeat 0px -80px; HEIGHT: 20px
}
#trade-search-box .tool-toggle:hover {
	BACKGROUND-POSITION: 0px -120px
}
#trade-search-box .collapsed-tool-toggle {
	BACKGROUND-POSITION: 0px 0px
}
#trade-search-box .collapsed-tool-toggle:hover {
	BACKGROUND-POSITION: 0px -40px
}
.pw_menu {
	BORDER-BOTTOM: #a6cbe7 1px solid; BORDER-LEFT: #a6cbe7 1px solid; BACKGROUND: #fff; BORDER-TOP: #a6cbe7 1px solid; BORDER-RIGHT: #a6cbe7 1px solid
}
.pw_menuBg {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.pw_menu H6 {
	BORDER-BOTTOM: #a6cbe7 0px solid; POSITION: absolute; BORDER-LEFT: #a6cbe7 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; MARGIN-TOP: -18px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #fff; HEIGHT: 17px; BORDER-TOP: #a6cbe7 1px solid; RIGHT: -1px; BORDER-RIGHT: #a6cbe7 1px solid; PADDING-TOP: 0px
}
.iconDroplink {
	PADDING-RIGHT: 0.8em
}
SPAN.iconDrop {
	POSITION: absolute; MARGIN-TOP: 6px; HEIGHT: 8px; MARGIN-LEFT: -0.8em; OVERFLOW: hidden
}
SPAN.iconDrop I {
	FONT-STYLE: normal; MARGIN-TOP: -8px; DISPLAY: block; FONT-FAMILY: Arial; COLOR: #999; _margin-top: -7px
}
.menuSkin {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; WIDTH: 260px; PADDING-RIGHT: 0px; BACKGROUND: #ffffff; COLOR: green; FONT-WEIGHT: bold; PADDING-TOP: 10px
}
.menuSkin A {
	COLOR: green
}
.box-16 {
	MARGIN: 10px 0px 0px; FONT-WEIGHT: normal
}
.box-16 .a-1 {
	COLOR: #333
}
