#head {
	BACKGROUND-IMAGE: url(../images/head_bg.gif); PADDING-BOTTOM: 10px; WIDTH: 100%; COLOR: #666666; PADDING-TOP: 10px; HEIGHT: 16px; TEXT-ALIGN: center
}
#head A {
	COLOR: #666666; TEXT-DECORATION: none
}
#index {
	MARGIN-LEFT: auto; WIDTH: 950px; MARGIN-RIGHT: auto; POSITION: relative; HEIGHT: auto
}
#top {
	FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 950px; PADDING-TOP: 10px; HEIGHT: 72px
}
#top_left {
	PADDING-RIGHT: 10px; FLOAT: left; WIDTH: 265px; HEIGHT: 72px
}
#top_body {
	FLOAT: left; WIDTH: 330px; MARGIN-RIGHT: 11px; HEIGHT: 70px
}
#top_right {
	PADDING-RIGHT: 39px; PADDING-LEFT: 130px; FLOAT: left; PADDING-BOTTOM: 25px; WIDTH: 163px; PADDING-TOP: 18px; HEIGHT: 29px
}
#top_menu {
	FLOAT: left; BACKGROUND-IMAGE: url(../image/menu_bg.gif); PADDING-BOTTOM: 10px; OVERFLOW: hidden; WIDTH: 950px; FONT-FAMILY: "ו"; HEIGHT: 44px
}
#top_menu UL {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; LEFT: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 940px; LINE-HEIGHT: 37px; POSITION: absolute; HEIGHT: 37px
}
#top_menu LI {
	PADDING-LEFT: 5px; FONT-SIZE: 12px; FLOAT: left; OVERFLOW: hidden; WIDTH: 88px; POSITION: relative; HEIGHT: 37px; TEXT-ALIGN: center
}
#top_menu LI A {
	FLOAT: left; WIDTH: 88px; COLOR: #fff; PADDING-TOP: 5px; HEIGHT: 32px; TEXT-DECORATION: none
}
#top_menu LI A:hover {
	FONT-WEIGHT: bold; BACKGROUND: url(../image/menu_bg_b.gif); WIDTH: 88px; PADDING-TOP: 3px; HEIGHT: 34px; TEXT-DECORATION: none
}
#top_menu LI A.hover {
	FONT-WEIGHT: bold; BACKGROUND: url(../image/menu_bg_a.gif); WIDTH: 88px; PADDING-TOP: 3px; HEIGHT: 34px; TEXT-DECORATION: none
}
#bottom {
	FLOAT: left; WIDTH: 950px; POSITION: relative; BACKGROUND-COLOR: #fff
}
#bottom_top {
	FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 950px
}
#bottom_top_left {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: left; WIDTH: 66px; COLOR: #0066cc
}
#bottom_top_right {
	FONT-SIZE: 12px; FLOAT: left; WIDTH: 884px; COLOR: #acacac
}
#bottom_top_right A {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; COLOR: #acacac; PADDING-TOP: 3px
}
#bottom_bottom {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; FLOAT: left; BORDER-LEFT: #e0e0e0 1px solid; WIDTH: 948px; COLOR: #0066cc; BORDER-BOTTOM: #e0e0e0 1px solid; HEIGHT: 86px; BACKGROUND-COLOR: #f7f7f7
}
#bottom_bottom A {
	COLOR: #0066cc; TEXT-DECORATION: none
}
#bottom_bottom_top {
	FLOAT: left; WIDTH: 950px
}
#bottom_bottom_body {
	FLOAT: left; WIDTH: 950px
}
#bottom_bottom_bottom {
	FLOAT: left; WIDTH: 950px
}
#Popup {
	BORDER-RIGHT: #003366 1px solid; BORDER-TOP: #003366 1px solid; DISPLAY: none; FLOAT: left; BORDER-LEFT: #003366 1px solid; WIDTH: 500px; BORDER-BOTTOM: #003366 1px solid; POSITION: relative
}
#Popup_top {
	FLOAT: left; WIDTH: 500px; COLOR: #fff; HEIGHT: 20px; BACKGROUND-COLOR: #003366
}
#Popup_top_left {
	FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 3px; WIDTH: 460px; PADDING-TOP: 3px; HEIGHT: 14px
}
#Popup_top_right {
	FLOAT: left; PADDING-BOTTOM: 3px; WIDTH: 40px; PADDING-TOP: 3px; HEIGHT: 14px
}
#Popup_bottom {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 480px; COLOR: #2f5fa1; PADDING-TOP: 10px; POSITION: relative; BACKGROUND-COLOR: #f3f8fe
}
#fsdx {
	BORDER-RIGHT: #192e41 1px solid; BORDER-TOP: #192e41 1px solid; MARGIN-TOP: -126px; FONT-SIZE: 12px; Z-INDEX: 10; LEFT: 50%; FLOAT: left; MARGIN-LEFT: -251px; BORDER-LEFT: #192e41 1px solid; WIDTH: 500px; BORDER-BOTTOM: #192e41 1px solid; POSITION: absolute; TOP: 50%; HEIGHT: 250px
}
#fsdx_top {
	FLOAT: left; WIDTH: 500px; COLOR: #ffffff; HEIGHT: 20px; BACKGROUND-COLOR: #192e41
}
#fsdx_top_left {
	PADDING-LEFT: 10px; FLOAT: left; WIDTH: 200px; PADDING-TOP: 3px; HEIGHT: 17px
}
#fsdx_top_right {
	PADDING-RIGHT: 10px; FLOAT: right; WIDTH: 50px; PADDING-TOP: 3px; HEIGHT: 17px; TEXT-ALIGN: right
}
#fsdx_top_right A {
	COLOR: #ffffff
}
#fsdx_bottom {
	FLOAT: left; WIDTH: 500px; COLOR: #3e5a81; HEIGHT: 230px; BACKGROUND-COLOR: #f3f8fe
}
#kfqq {
	BORDER-RIGHT: #0173da 1px solid; BORDER-TOP: #0173da 1px solid; MARGIN-TOP: -111px; FONT-SIZE: 12px; Z-INDEX: 10; LEFT: 50%; MARGIN-LEFT: -350px; BORDER-LEFT: #0173da 1px solid; WIDTH: 700px; BORDER-BOTTOM: #0173da 1px solid; POSITION: absolute; TOP: 40%; HEIGHT: 455px; BACKGROUND-COLOR: #ffffff
}
#kfqq_top {
	PADDING-LEFT: 20px; FLOAT: left; WIDTH: 680px; COLOR: #FF0000; PADDING-TOP: 3px; HEIGHT: 17px; BACKGROUND-COLOR: #FFFFFF
}
#kfqq_top_left {
	FLOAT: left; WIDTH: 530px; HEIGHT: 17px
}
#kfqq_top_right {
	FLOAT: left; WIDTH: 150px; HEIGHT: 17px; TEXT-ALIGN: right
}
#kfqq_top_right A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#kfqq_bottom {
	PADDING-RIGHT: 50px; PADDING-LEFT: 50px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 600px; PADDING-TOP: 10px; POSITION: relative; HEIGHT: auto
}
#kfqq_bottom_top {
	FLOAT: left; WIDTH: 600px; POSITION: relative; HEIGHT: auto
}
#kfqq_bottom_top_top {
	FLOAT: left; WIDTH: 600px; POSITION: relative; HEIGHT: auto
}
#kfqq_bottom_top_top_top {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; WIDTH: 600px; HEIGHT: 16px
}
#kfqq_bottom_top_top_bottom {
	FLOAT: left; WIDTH: 600px; POSITION: relative; HEIGHT: auto
}
#kfqq_bottom_bottom {
	FLOAT: left; PADDING-BOTTOM: 6px; WIDTH: 600px; COLOR: #ff0000; PADDING-TOP: 6px; HEIGHT: 14px; TEXT-ALIGN: center
}
.kfqq_bottom_top {
	FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 150px; BORDER-BOTTOM: #dfdfdf 1px dotted; HEIGHT: 60px
}
.kfqq_bottom_top A {
	COLOR: #2f5fa1; TEXT-DECORATION: none
}
.kfqq_bottom_top_top {
	FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 150px; HEIGHT: 20px
}
.kfqq_bottom_top_body {
	FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 150px; HEIGHT: 15px
}
.kfqq_bottom_top_bottom {
	FLOAT: left; WIDTH: 150px; HEIGHT: 15px
}
#index_top_r2 {
	MARGIN-TOP: 10px; WIDTH: 580px
}
#index_top_r2 LI {
	FLOAT: right; MARGIN-LEFT: 5px; WIDTH: 81px; LIST-STYLE-TYPE: none; HEIGHT: 23px
}
#index_top_r2 LI A:link {
	COLOR: #666666; LINE-HEIGHT: 23px; PADDING-left: 27px; TEXT-DECORATION: none
}
#index_top_r2 LI A:visited {
	COLOR: #666666; LINE-HEIGHT: 23px;  PADDING-left: 27px; TEXT-DECORATION: none
}
#index_top_r2 LI A:hover {
	COLOR: #666666; LINE-HEIGHT: 23px;  PADDING-left: 27px; TEXT-DECORATION: underline
}
#index_top_r2 LI A:active {
	COLOR: #666666; LINE-HEIGHT: 23px;  PADDING-left:27px; TEXT-DECORATION: none
}

.index_menu {
	BACKGROUND: url(../images/index_menu_bg.jpg) no-repeat; MARGIN: 2px auto 0px; OVERFLOW: hidden; WIDTH: 980px; HEIGHT: 41px
}

#linkk LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.white A {
	COLOR: #ffffff
}
.white A:link {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none
}
.white A:hover {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: none
}
.white A:active {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none
}
.white A:visited {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none
}

.li0 {
	FLOAT: left; WIDTH: 94px; HEIGHT: 40px; TEXT-ALIGN: center
}
.li1 {
	FLOAT: left; BACKGROUND-IMAGE: url(../images/mmtitle.jpg); WIDTH: 90px; COLOR: #000000; HEIGHT: 39px; TEXT-ALIGN: center
}
#list {
	BACKGROUND-IMAGE: url(../images/index_menu_bg.jpg); WIDTH: 980px
}
#list UL {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; MARGIN-LEFT: 12px; LINE-HEIGHT: 40px; HEIGHT: 40px
}
#list LI {
	FLOAT: left; WIDTH: 94px
}
